#header{
    height: 50px;
    font-family: sans-serif !important;
    color: #474747 !important;
    font-size: 20px;
    text-align: center;
}

.header-content{
    width: 250px;
    line-height: 50px;
    text-align: center;
}

/*=====================================================*/

#workspace-container{
    font-size: 0px;
    vertical-align: top;
}

.workspace-item-container{
    display: inline-block;
    width: calc(50% - 50px);
    vertical-align: top;
    margin: 30px 10px 10px 10px ;
}

/*=====================================================*/

.horisontal-centering-container{
    text-align: center;
}

/*=====================================================*/

#canvas{
    width: 330px;
    height: 330px;
}

/*=====================================================*/

.parameter-form-container{
    padding: 10px 10px 0px 10px;
    border: 5px outset #474747;
    border-radius: 8px;

    -webkit-border: 5px outset #474747;
    -moz-border: 5px outset #474747;
    -ms-border: 5px outset #474747;
    -o-border: 5px outset #474747;
    border: 5px outset #474747;
}

.parameter-container{
    margin-bottom: 10px;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.parameter-label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 1% auto;
    padding: 0px 8px 8px 8px;

}

/*=====================================================*/

.warning-container{
    display: block;
    font-size: 16px;
    color: #ff0083;
    padding-top: 10px;
}

/*=====================================================*/

#swapButton{
    background: -moz-linear-gradient(#ccfffd, #80fa97);
    background: -webkit-linear-gradient(#ccfffd, #80fa97);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #474747;
    width: 200px;
    height: 50px;
    margin: 5px 0px 10px 400px;
    text-align: center;
    font: 16pt sans-serif;
}
#button{
    background: #ccfffd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #474747;
    width: 250px;
    height: 50px;
    margin: 10px 30px 10px 30px;
}

.submit-button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: grey;
    border: 3px outset black;
    border-radius: 8px;
    margin: 0px 6px 20px 6px;
}

.submit-button:hover{
    background-color: black;
    color: white;
    border: 3px outset white;
    transition: 0.3s;
}


input[type="text"] {
    background: -moz-linear-gradient(#ccfffd, #80fa97);
    background: -webkit-linear-gradient(#ccfffd, #80fa97);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #474747;
    width: 130px;
    height: 25px;
}

/*=====================================================*/

table {
    width: 75%;
    border: 3px solid #474747;
    margin-bottom: 10px;
}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font: 16pt sans-serif;
}
/*=====================================================*/

body{

    background: radial-gradient(#ffffff, #fbe3ff);
    background: -webkit-radial-gradient(#ffffff, #fbe3ff);
    background: -moz-radial-gradient(#ffffff, #fbe3ff);
    background: -ms-radial-gradient(#ffffff, #fbe3ff);
    background: -o-radial-gradient(#ffffff, #fbe3ff);
    background-attachment: fixed;
    margin: 0;

}

body > div{
    width: 1030px;
    max-width: 1200px;
    min-width: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    background: -webkit-linear-gradient(#9affb2, #00dbff);
    background: -moz-linear-gradient(#9affb2, #00dbff);
    background: -ms-linear-gradient(#9affb2, #00dbff);
    background: -o-linear-gradient(#9affb2, #00dbff);
    background: linear-gradient(#9affb2, #00dbff);

    border: 15px outset #474747;
    border-radius: 8px;

    -webkit-border: 15px outset #474747;
    -moz-border: 15px outset #474747;
    -ms-border: 15px outset #474747;
    -o-border: 15px outset #474747;
    border: 15px outset #474747;
}

div span{
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    color: #474747;
}

div h1{
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 30px;
    font-style: italic;
}

h1, label{
    font-family: sans-serif;
    color: #474747;
}

.table{
    display: table;
    font-family: sans-serif;
    color: #474747;
    font-size: 18px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.table-tr{
    margin-left: auto;
    display: table-row;
}

.table-td{
    display: table-cell;
    text-align: left;
    border: none;
    border: 2px solid #474747;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
}

.result-value{
    min-width: 150px;
    text-align: center;
}